.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red;
}
body{
    background-image: url("bgm.jpg");
}
.navbar-brand img{
    width: 200px;
    height: 60px;
}